.area{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--area-porta-largura);
    height: var(--area-porta-altura);
}
.estrutura{
    display: flex;
    flex-direction: column-reverse;
    
    flex-grow: 1; /* Faz a estrutura crescer de acordo com o tamanho da div pai. */
    border-left: var(--b-porta);
    border-top: var(--b-porta);
    border-right: var(--b-porta);
    width: 90%;
    background-color: #0005;
}
.porta{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: chocolate;
    align-items: center;
    padding: var(--p-porta);
}

.numero{
    font-size: var(--f-num);
}

.macaneta{
    position: absolute;
    align-self: flex-start; /* Diz respeito a posição em que o objeto se encontra dentro da estrutura pai. */
    top: calc(0.45 * var(--area-porta-altura)); /* Isso torna a maçaneta em uma posição flexivel se a altura da porta mudar. */
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: brown;
}

.chao{
    height: 10px;
    width: 100%;
    background-color: #ddd;
}

.selecionada {
    border-left: var(--porta-select);
    border-top: var(--porta-select);
    border-right: var(--porta-select);
}

.selecionada .numero{
    color: yellow;
}

.selecionada .macaneta{
    background-color: yellow;
}